.ov-display {
    @extend .container;
    .ov-multi {
	> .ov-label {
	    @extend .col-md-1;
	    font-weight: bold;
	}
	> .ov-fields-for {
	    @extend .col-md-10;
	}
    }
    .ov-field {
	@include make-row();
	.ov-label {
	    @extend .col-md-3;
	    font-weight: bold;
	    align: left;
	}
	.ov-text {
	    @extend .col-md-8;
	}
	.ov-checkbox-holder {
	    @extend .col-md-1;
	}
	.ov-checkbox-label {
	    @extend .col-md-3;
	}
    }
    li.ov-object {
	@include make-container();
	list-style-type: none;
	/*background-color: green;*/
    }
    li.ov-object:after {
	content: ''; /* Required for pseudo-elements */
	display: block; /* Make it take up the full width */
	border-bottom: 1px solid #ccc; /* Style the horizontal rule */
	margin-top: 0.5em; /* Add some spacing above the rule */
	margin-bottom: 0.5em; /* Add some spacing below the rule */
    }
    li.ov-object:last-child::after {
	content: none;
    }

    .ov-fields-for {
	@extend .col-md-8;
	ul {
	    @extend .container-fluid;
	}
	.ov-label {
	    @extend .col-md-2;
	    align: left;
	}
    }
}
