
.ov-form {
    @extend .container;
    .ov-field {
	@include make-row();
	.ov-label {
	    @extend .col-md-3;
	    align: left;
	}
	.ov-text {
	    @extend .col-md-8;
	}
	.ov-select-holder {
	    @extend .col-md-3;
	    padding-left: 10px;
	}
	.ov-checkbox-holder {
	    @extend .col-md-1;
	}
	.ov-checkbox-label {
	    @extend .col-md-3;
	}
	.ov-select {
	    @extend .col-md-8;
	    /*margin-left: 2em !important;*/
	}
	.ov-select-label {
	    @extend .col-md-3;
	    padding-top: 6px;
	}
	.ov-check-label {
	    margin-left: 1em !important;
	}
	.field_with_errors {
	    @extend .col-md-8;
	    :first-child {
		@extend .w-100;
		background: rgb(248, 215, 218);
		border-color: rgb(241, 174, 181);
	    }
	}
    }
    .ov-fields-for {
	@extend .col-md-8;
	ul {
	    @extend .container-fluid;

	}
	.ov-label {
	    @extend .col-md-2;
	    align: left;
	}
    }
    li.ov-object {
	@include make-container();
	list-style-type: none;
	/*background-color: green;*/
    }
    li.ov-object:after {
	content: ''; /* Required for pseudo-elements */
	display: block; /* Make it take up the full width */
	border-bottom: 1px solid #ccc; /* Style the horizontal rule */
	margin-top: 0.5em; /* Add some spacing above the rule */
	margin-bottom: 0.5em; /* Add some spacing below the rule */
    }
    li.ov-object:last-child::after {
	content: none;
    }
}
