.ov-table-hdr {
    font-weight: bold;
}
.ov-table-col {
    form.ov-button {
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
    }
    .ov-table-col-button {
	display: inline;
	.button_to {
	    display: inline;
	}
    }
}
