require 'rails_helper'

RSpec.describe <%= class_name %>, type: :model do
  it { expect(create(:<%= name %>)).to be_a <%= class_name %> }
  it { expect(create(:<%= name %>_sample)).to be_a <%= class_name %> }
end
